* {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.top-text{
  color:  #219bf3;
}

.home__container {
  margin-left: 30px;
  margin-right: 30px;
}

.search__bar{
  width: 30%;
  margin-bottom: 2rem;
}

.search__bar > input {
  font-family: "Montserrat";
  width: 100%;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.card__webinar {
  display: flex;
  flex-wrap: wrap;
}

.choosed {
  border-radius: 10px;
  background-color: #219bf3;
  width: fit-content;
  padding: 3px 15px;
  margin-left: 15px;
  pointer-events: none;
  color: #fff;
}

.tag__bar {
  border-radius: 3rem;
  border: 1px solid #219bf3;
  margin-left: 1rem;
  padding: 5px 20px;
  width: fit-content;
}

.tag__bar > p {
  font-size: 1rem;
  margin: 0;
}

.Tag__line {
  display: flex;
  margin-top: 5px;
}

.Tag__line > p {
  font-size: 9pt;
  padding-top: 3px;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

p.topik-teks {
  font-size: 1rem;
  margin-top: 3px;
}