.row__list {
  width: 100%;
}

table {
  width: 100%;
}

.poster {
  width: 20vw;
  border: 1px solid black;
  padding: 1rem;
}

.info {
  width: 15vw;
  border: 1px solid black;
  font-weight: normal;
}

.deskripsi {
  border: 1px solid black;
  max-width: 40vw;
  text-align: left;
  padding: 0.5rem;
  font-weight: normal;
}

.aksi {
  border: 1px solid black;
  font-weight: normal;
}

.btn-hapus {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  color: #fff;
  background-color: #d63820;
  border: none;
  pointer-events: visible;
  cursor: pointer;
  margin-bottom: 8px;
}

.btn-hapus:hover {
  background-color: #f33621;
  cursor: pointer;
}

.btn-edit {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  color: #fff;
  background-color: #61b15a;
  border: none;
  pointer-events: visible;
  cursor: pointer;
}

.btn-edit:hover {
  background-color: #adce74;
  cursor: pointer;
}
