.AddWebinar__container {
  padding: 30px;
  width: 90%;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #219bf3;
  align-content: center;
  margin-top: -2rem;
  height: 3rem;
  padding: 1rem;
}

.header-text {
  font-size: 2rem;
  margin-top: 0.3rem;
  text-transform: uppercase;
  color: #fff;
  margin-left: 1.5rem;
}

.title {
  margin-top: 50px;
  font-size: 1.2rem;
  font-weight: bold;
}

.list__container {
  /* height: 70vh; */
  border: 2px solid black;
  width: 100%;
  margin-top: 15px;
}

.title__row {
  display: flex;
}

.title__foto {
  font-size: 1rem;
  text-align: center;
  border: 1px solid black;
  flex: 0.2;
  padding: 0.2rem;
}

.poster {
  width: 20vw;
  border: 1px solid black;
}

.info {
  width: 15vw;
  border: 1px solid black;
}

.deskripsi {
  border: 1px solid black;
  width: 40vw;
}

.aksi {
  border: 1px solid black;
}

table {
  width: 100%;
}

.ta-center {
  text-align: center;
}

.fw-bold {
  font-weight: bold;
}
