.container-create {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  position: relative;
}

.header-page{
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.header-page h1 {
  position: absolute;
  margin-top: .2rem;
  margin-left: 1rem;
  font-size: 2rem;
  color: #219bf3;
  text-transform: uppercase;
  display: inline;
}

.form__webiner {
  width: 80%;

}

form {
  position: relative;
}


form input[type="text"] {
  width: 100%;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-weight: bold;
}

#deskripsi {
  margin: 1rem 0;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  font-family: "Montserrat";
}

#poster {
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

form input[type="submit"] {
  background-color: #21f379;
  display: block;
  width: 10rem;
  height: 3rem;
  border: none;
  font-family: "Montserrat";
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 10;
}

input[type="submit"]:hover {
  background-color: #27d67e;
  display: block;
  width: 10rem;
  height: 3rem;
  color:#1a382c;
  border: none;
  font-family: "Montserrat";
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 10;
  cursor: auto;
}

.icon-back {
  background-image: url('./keyboard_backspace-24px@2x.png');
  display: inline-block;
  width: 48px;
  height: 48px;
}